@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.main-body {
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-weight:300;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    font-size: 15px;
}

.nav-link{
    color: rgb(216, 214, 214);
}

.webpage-text{
    font-size:50px;
    padding:10px;
}


.banner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    gap:10px;
    padding:0px 100px;
}

.films-banner-header{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    gap:10px;
    padding:0px 100px;
}

.image-banner{
    width:100%;
    min-height: 800px;
    object-fit:cover;
}

#caHolder{
    width: 100%;
    margin: 2% 0%
}

.caBody{
    padding: 2% 10%;
}

.collection-title{
    border-bottom: white solid 1px;
}

.featured-movies, .upcoming-movies, .browse-movies, .movie-genres-content, .movie-genre-action, .movie-genre-comedy{
    display:flex;
    flex-direction: column;
    font-size: 15px;
    gap:10px;
}

.featured-movies-content, .upcoming-movies-content, .browse-movies-content, .movie-genres-list{
    display: grid;
    gap:10px;
    grid-auto-flow: column;
}

.featured-movies-content-images, .upcoming-movies-content-images, .browse-movies-content-images{
    width: 150px;
    height: auto;
    border: white solid 1px;
    min-height:230px;
}

.mini-browse-movies-content-images{
    width: 80px;
    height: auto;
    border: white solid 1px;
    min-height:130px;
}

.movie-genre-images{
    width: 200px;
    height: auto;
    border: white solid 1px;
    min-height:300px;
}

#more-link{
    font-size:12px;
    color: inherit;
    display: flex;
    align-items: flex-end;
}

.account-prompt{
    background-color: rgb(60, 60, 60);
    border: white solid 1px;
    padding:50px;
    font-size: 18px;
}

.footer-links{
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.footer-links:hover{
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.footer-container{
    font-size:15px;
    padding:30px;
}

.footer-text{
    color: rgb(190, 190, 190);
    font-size:10px;
}