@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.main-body {
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-weight:300;
}

a{
    text-decoration: none;
    color: inherit;
}

.navbar{
    background-color: rgba(0,0,0,0);
    font-weight: 400;
    font-size: 15px;
}

.nav-link{
    color: rgb(216, 214, 214);
}

.webpage-text{
    font-size:50px;
    padding:10px;
    display:flex;
    justify-content: center;
}


.banner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    gap:10px;
    padding:0px 100px;
}

.films-banner-header{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    gap:10px;
    padding:0px 100px;
}

.image-banner{
    width:100%;
    min-height: 800px;
    object-fit:cover;
}

#caHolder{
    width: 100%;
    margin: 2% 0%
}

.caBody{
    padding: 2% 10%;
}

.collection-title{
    border-bottom: white solid 1px;
}

.featured-movies, .upcoming-movies, .browse-movies, .movie-genres-content{
    display:flex;
    flex-direction: column;
    font-size: 15px;
    gap:10px;
    padding:10px 0;
}

.film-details{
    width: 100%;
}

.film-title{
    font-weight: bolder;
    font-size: 25px;
}

.film-year{
    text-decoration: underline;
    font-size: 20px;
}

.film-director{
    text-decoration:underline;
    font-size: 20px;
}

.featured-movies-content, .upcoming-movies-content, .browse-movies-content{
    display: grid;
    gap:10px;
    grid-auto-flow: column;
}

.films-content{
    display: grid;
    gap:10px;
    grid-auto-flow: column;
    margin: 0 3%;
}

.films-content-images{
    width: 150px;
    height: auto;
    border: white solid 1px;
    min-height:230px;
    margin: 1% 1%;
}

.films-content-images:hover{
    border: rgb(43, 58, 47) solid 1px;
}

.featured-movies-content-images, .upcoming-movies-content-images, .browse-movies-content-images{
    width: 150px;
    height: auto;
    border: white solid 1px;
    min-height:230px;
}

.mini-browse-movies-content-images{
    width: 80px;
    height: auto;
    border: white solid 1px;
    min-height:130px;
}

.movie-genre-images{
    display: block;
    width: 250px;
    height: auto;
    border: white solid 1px;
    min-height:300px;
}

#more-link{
    font-size:12px;
    color: inherit;
    display: flex;
    align-items: flex-end;
}

.account-prompt{
    background-color: rgb(60, 60, 60);
    border: white solid 1px;
    padding:50px;
    font-size: 18px;
    display:flex;
    justify-content: center;
}


.footer-links{
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.footer-links:hover{
    text-decoration: none;
    color: #c8c8c8;
}

.footer-container{
    font-size:15px;
    padding:30px;
}

.footer-text{
    color: rgb(190, 190, 190);
    font-size:10px;
}

.movie-genres-container{
    width:100%;
    padding:20px;
}

.movie-genre{
    position:relative;
    max-width:800px;
    display:flex;
    margin:0 10px;
}
.film-genre{
    max-width:800px;
    display:flex;
    margin:0 10px;
}

.movie-genres-list{
    display:flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
}

.image-overlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: all 0.25s;
    font-size:40px;
}

.image-overlay > * {
    transform: translateY(10px);
    transition: transform 0.25s;
}

.image-overlay:hover{
    opacity:1;
}

.image-overlay:hover > *{
    transform: translateY(0);
}

.image-overlay-text{
    opacity:1 !important;
}


.content-body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 100px;
}

.account-prompt-container{
    padding:20px;
    width:100%;
}

.account-prompt-container a:hover{
    color:white;
}

.PageLogo{
    height:40px;
    width:auto;
    border-radius: 4%;
}

.PageLogo:hover{
    opacity:90%;
}