@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.main-body {
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    font-weight: 300;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    font-size: 15px;
}

.nav-link {
    color: #d8d6d6;
}

.webpage-text {
    font-size: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.carousel-item {
    cursor: pointer;
}


.banner-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    gap: 10px;
    padding: 0px 100px;
}

.films-banner-header {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
    padding: 0px 100px;
}

.image-banner {
    width: 100%;
    min-height: 800px;
    object-fit: cover;
}

#caHolder {
    width: 100%;
    margin: 2% 0%
}

.caBody {
    padding: 2% 10%;
}

.collection-title {
    border-bottom: white solid 1px;
}

.featured-movies,
.upcoming-movies,
.browse-movies,
.movie-genres-content,
.list-collection-container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
    padding: 10px 0;
}

.film-details {
    width: 100%;
}

.film-title {
    font-weight: bolder;
    font-size: 25px;
}

.film-year {
    text-decoration: underline;
    font-size: 20px;
}

.film-director {
    text-decoration: underline;
    font-size: 20px;
}

.featured-movies-content,
.upcoming-movies-content,
.browse-movies-content {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.films-content {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    margin: 0 3%;
}

.films-content-images,
.list-collection-images {
    width: 150px;
    height: auto;
    border: white solid 1px;
    min-height: 230px;
    margin: 1% 1%;
}

.films-content-images:hover {
    border: rgb(43, 58, 47) solid 1px;
}

.featured-movies-content-images,
.upcoming-movies-content-images,
.browse-movies-content-images {
    max-width: 150px;
    height: auto;
    border: white solid 1px;
    min-height: 230px;
    cursor: pointer;
}

.mini-browse-movies-content-images {
    width: 80px;
    height: auto;
    border: white solid 1px;
    min-height: 130px;
}

#more-link {
    font-size: 12px;
    color: inherit;
    display: flex;
    align-items: flex-end;
}

.account-prompt-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 35px;
}

.account-prompt-container a:hover {
    color: white;
}

.account-prompt {
    font-size: 30px;
    width: auto;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: rgb(23, 23, 23);
    text-transform: uppercase;
}

.account-prompt:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.account-prompt:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.account-prompt:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.account-prompt:hover:before {
    border-color: #c8c8c8;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.account-prompt:hover::after {
    border-color: #c8c8c8;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}


.footer-links {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.footer-links:hover {
    text-decoration: none;
    color: #c8c8c8;
}


.footer-container {
    font-size: 15px;
    padding: 30px;
    background-color: rgb(25, 25, 25);
}

.footer-link-list {
    list-style: none;
}

.footer-text {
    color: rgb(190, 190, 190);
    font-size: 10px;
}

.movie-genres-container {
    width: 100%;
    padding: 20px;
}

.movie-genre {
    position: relative;
    max-width: 800px;
    display: flex;
    margin: 0 10px;
}

.movie-genre-images {
    display: block;
    width: 250px;
    height: auto;
    border: white solid 1px;
    min-height: 300px;
}

.film-genre {
    max-width: 800px;
    display: flex;
    margin: 0 10px;
}

.movie-genres-list {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    gap: 20px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: all 0.25s;
    font-size: 40px;
}

.image-overlay>* {
    transform: translateY(10px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover>* {
    transform: translateY(0);
}

.image-overlay-text {
    opacity: 1 !important;
}

.film-details-container {
    height: 100vh;
}

.content-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}



.PageLogo {
    height: 40px;
    width: auto;
    border-radius: 4%;
}

.PageLogo:hover {
    opacity: 90%;
}

.navbar-links a {
    font-size: 15px;
    color: #e1e1e1;
    font-family: inherit;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.navbar-links a:hover,
.navbar-links a:focus {
    color: #fff;
}

.navbar-links a:hover:after,
.navbar-links a:focus:after {
    width: 100%;
    left: 0%;
}

.navbar-links a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.modal-content {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.modal-body {
    padding: 20px;
}

#navbarSupportedContent {
    gap: 50px;
}

.list-collection,
.browse-movies-content {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.list-collection-images:nth-child(8n+1) {
    grid-column: 1;
}

.list-collection-images:nth-child(8n+2) {
    grid-column: 2;
}

.list-collection-images:nth-child(8n+3) {
    grid-column: 3;
}

.list-collection-images:nth-child(8n+4) {
    grid-column: 4;
}

.list-collection-images:nth-child(8n+5) {
    grid-column: 5;
}

.list-collection-images:nth-child(8n+6) {
    grid-column: 6;
}

.list-collection-images:nth-child(8n+7) {
    grid-column: 7;
}

.list-collection-images:nth-child(8n+8) {
    grid-column: 8;
}

.browse-movies-content-images:nth-child(5n+1) {
    grid-column: 1;
}

.browse-movies-content-images:nth-child(5n+2) {
    grid-column: 2;
}

.browse-movies-content-images:nth-child(5n+3) {
    grid-column: 3;
}

.browse-movies-content-images:nth-child(5n+4) {
    grid-column: 4;
}

.browse-movies-content-images:nth-child(5n+5) {
    grid-column: 5;
}


@media (width >=320px) and (width <=480px) {
    .banner-header {
        padding: 0px;
        gap: 0;
    }

    .webpage-text {
        font-size: 25px;
        padding: 25px;
        display: flex;
        justify-content: center;
    }

    #banner-images {
        max-height: 500px;
    }

    .carousel-inner {
        max-height: inherit;
    }

    .image-banner {
        min-height: 0;
        max-height: inherit;
    }

    .carousel-item {
        height: inherit;
    }

    .carousel-caption {
        font-size: 15px;
        text-shadow: 5px 5px 7px #292929;
    }

    .content-body-container {
        margin: 0;
    }

    .featured-movies,
    .upcoming-movies,
    .browse-movies,
    .movie-genres-content,
    .list-collection-container {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        gap: 10px;
        padding: 10px 0;
        overflow-x: auto;
    }

    .featured-movies-content,
    .upcoming-movies-content,
    .browse-movies-content {
        display: flex;
        overflow-x: auto;
        grid-auto-flow: row;
    }

    .featured-movies-content-images,
    .upcoming-movies-content-images,
    .browse-movies-content-images {
        max-width: 100px;
        height: auto;
        border: white solid 1px;
        min-height: 150px;
        cursor: pointer;
    }

    .movie-genre {
        position: relative;
        max-width: 800px;
        display: flex;
        margin: 0 10px;
    }

    .movie-genre-images {
        display: block;
        width: 150px;
        height: auto;
        border: white solid 1px;
        min-height: 200px;
    }

    .account-prompt-container{
        font-size:22px;
    }
}